In [1]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv("C:/Users/gram/Downloads/drive-download-20230405T115700Z-001/wine_test.csv")

In [48]:
df

,Unnamed: 0,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,1,NaN,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

In [49]:
df.columns

Index(['Unnamed: 0', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [50]:
#유의미한 컬럼으로 이루어진 데이터셋 만들기
df=df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class']]

In [51]:
#대략적 class 분포 확인
df['class'].value_counts()

1    71
0    59
2    48
Name: class, dtype: int64

In [52]:
#결측값 처리하기 (제거)
df.isnull().sum()

alcohol                         2
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            5
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
class                           0
dtype: int64

In [53]:
df.dropna(inplace=True)

C:\Temp\ipykernel_10388\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [54]:
kmeans = KMeans(n_clusters=3, init='k-means++', max_iter=300, random_state=111)

In [55]:
kmeans

KMeans(n_clusters=3, random_state=111)

In [56]:
df['class'].value_counts()

1    66
0    57
2    48
Name: class, dtype: int64

In [57]:
#class 컬럼을 제외한 샘플 데이터셋 정의
df_sp=df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline']]

In [58]:
#kmeans clustering 실시
kmeans.fit(df_sp)

KMeans(n_clusters=3, random_state=111)

In [59]:
kmeans.labels_

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 2, 1, 2, 2, 1, 2, 2,
       1, 1, 2, 2, 0, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2,
       2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2,
       2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2,
       1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2])

In [60]:
#샘플 데이터에 cluster 컬럼 정의
df_sp['cluster']=kmeans.labels_

In [61]:
df_sp['cluster'].value_counts()

2    67
1    59
0    45
Name: cluster, dtype: int64

In [62]:
df_sp['class']=df['class']

In [63]:
#실제 class별 클러스터링 결과 비교
df_sp.groupby(['class', 'cluster'])['proline'].count()
#결과 좋지 않음 확인..
#원인 : 이상치 방치 / 컬럼 너무 많아서 !

class  cluster
0      0          44
       1          13
1      0           1
       1          17
       2          48
2      1          29
       2          19
Name: proline, dtype: int64

In [64]:
#컬럼별 class 별 평균 확인
a=list(df.columns)

for i in a:
    print('-----------------',i ,'mean 비교')
    print(df.groupby(['class'])[i].mean())

----------------- alcohol mean 비교
class
0    13.735263
1    12.294242
2    13.153750
Name: alcohol, dtype: float64
----------------- malic_acid mean 비교
class
0    2.021228
1    1.932121
2    3.333750
Name: malic_acid, dtype: float64
----------------- ash mean 비교
class
0    2.466140
1    2.245606
2    2.437083
Name: ash, dtype: float64
----------------- alcalinity_of_ash mean 비교
class
0    17.192982
1    20.257576
2    21.416667
Name: alcalinity_of_ash, dtype: float64
----------------- magnesium mean 비교
class
0    106.614035
1     93.454545
2     99.312500
Name: magnesium, dtype: float64
----------------- total_phenols mean 비교
class
0    2.844211
1    2.254848
2    1.678750
Name: total_phenols, dtype: float64
----------------- flavanoids mean 비교
class
0    2.986316
1    2.089545
2    0.781458
Name: flavanoids, dtype: float64
----------------- nonflavanoid_phenols mean 비교
class
0    0.290526
1    0.365152
2    0.447500
Name: nonflavanoid_phenols, dtype: float64
----------------- proanthocyanins mean 비교
class
0    1.908772
1    1.612879
2    1.153542
Name: proanthocyanins, dtype: float64
----------------- color_intensity mean 비교
class
0    5.554211
1    3.111970
2    7.396250
Name: color_intensity, dtype: float64
----------------- hue mean 비교
class
0    1.061930
1    1.066515
2    0.682708
Name: hue, dtype: float64
----------------- od280/od315_of_diluted_wines mean 비교
class
0    3.158947
1    2.789394
2    1.683542
Name: od280/od315_of_diluted_wines, dtype: float64
----------------- proline mean 비교
class
0    1118.105263
1     509.090909
2     629.895833
Name: proline, dtype: float64
----------------- class mean 비교
class
0    0.0
1    1.0
2    2.0
Name: class, dtype: float64

In [71]:
#이상치 없는 컬럼 선택
#수업에선 ['alcohol', 'ash', 'nonflavanoid_phenols' ,'proanthocyanins'] 을 선택하셨지만 
#'nonflavanoid_phenols'컬럼보다 'hue' 컬럼이 더 차이가 적어 컬럼들을 바꿔보았습니다.
df_sp_1 = df[['alcohol', 'ash', 'hue' ,'proanthocyanins']]

In [72]:
df_sp_1

     alcohol   ash   hue  proanthocyanins
0      14.23  2.43  1.04             2.29
2      13.16  2.67  1.03             2.81
3      14.37  2.50  0.86             2.18
4      13.24  2.87  1.04             1.82
5      14.20  2.45  1.05             1.97
..       ...   ...   ...              ...
173    13.71  2.45  0.64             1.06
174    13.40  2.48  0.70             1.41
175    13.27  2.26  0.59             1.35
176    13.17  2.37  0.60             1.46
177    14.13  2.74  0.61             1.35

[171 rows x 4 columns]

In [73]:
#클러스터링 진행 및 클래스와 클러스터링 결과 비교
kmeans.fit(df_sp_1)

KMeans(n_clusters=3, random_state=111)

In [75]:
df_sp_1['cluster']=kmeans.labels_

C:\Temp\ipykernel_10388\914837266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp_1['cluster']=kmeans.labels_

In [76]:
df_sp_1['class']=df['class']

C:\Temp\ipykernel_10388\3153947600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp_1['class']=df['class']

In [77]:
df_sp_1.groupby(['cluster', 'class'])['hue'].count()
#복습 과제에서 한 것보다 분류 정확히 됨 (컬럼을 바꾼게 도움이 되었다고 생각됩니다!)

cluster  class
0        0        49
         1         4
         2         7
1        1        50
         2         1
2        0         8
         1        12
         2        40
Name: hue, dtype: int64

In [78]:
# 이상치를 고려하여 스케일링 진행!
df_sp_1 = df[['alcohol', 'ash', 'hue' ,'proanthocyanins']]
df_sp_1

     alcohol   ash   hue  proanthocyanins
0      14.23  2.43  1.04             2.29
2      13.16  2.67  1.03             2.81
3      14.37  2.50  0.86             2.18
4      13.24  2.87  1.04             1.82
5      14.20  2.45  1.05             1.97
..       ...   ...   ...              ...
173    13.71  2.45  0.64             1.06
174    13.40  2.48  0.70             1.41
175    13.27  2.26  0.59             1.35
176    13.17  2.37  0.60             1.46
177    14.13  2.74  0.61             1.35

[171 rows x 4 columns]

In [79]:
SS=StandardScaler()

In [80]:
SS.fit(df_sp_1)

StandardScaler()

In [81]:
df_sp_1_ss=SS.transform(df_sp_1)

In [82]:
df_tt_ss=pd.DataFrame(df_sp_1_ss,columns=df_sp_1.columns)

In [83]:
kmeans.fit(df_tt_ss)

KMeans(n_clusters=3, random_state=111)

In [84]:
print(kmeans.labels_)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 2 1 2 0 2 1 1 1 1 0 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 2 0 1 2 1 0 0 0
 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0
 0 2 0 1 1 2 0 0 2 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [85]:
df_tt_ss['cluster'] = kmeans.labels_

In [86]:
df_tt_ss['class']=df_sp['class']

In [87]:
df_tt_ss.groupby(['class', 'cluster'])['hue'].count()

#이유를 모르겠지만 오히려 standardscaling한 결과가 안좋아졌습니다..

class  cluster
0.0    0           6
       1          48
       2           3
1.0    0          47
       1           3
       2          16
2.0    1           2
       2          39
Name: hue, dtype: int64

In [88]:
df_sp_1 = df[['alcohol', 'ash', 'hue' ,'proanthocyanins']]

In [89]:
RB=RobustScaler()
RB.fit(df_sp_1)
df_tt_rb=RB.transform(df_sp_1)

In [90]:
kmeans.fit(df_tt_rb)

KMeans(n_clusters=3, random_state=111)

In [91]:
df_tt_rb=pd.DataFrame(df_tt_rb,columns=df_sp_1.columns)

In [92]:
df_tt_rb['cluster']=kmeans.labels_

In [93]:
df_tt_rb['class']=df_sp['class']

In [94]:
df_tt_rb.groupby(['class', 'cluster'])['hue'].count()
#단 Robustscaling을 하니 우수한 결과가 나왔습니다
#이상값의 영향을 최소화하는 Robustscaling의 효과가 아니었나 생각됩니다!

class  cluster
0.0    0          48
       1           7
       2           2
1.0    0           9
       1          43
       2          14
2.0    0           2
       2          39
Name: hue, dtype: int64