In [1]:
import pandas as pd

In [245]:
sales=pd.read_csv("C:/Users/gram/Downloads/sales_data.csv",encoding='unicode_escape')

In [246]:
sales.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [247]:
sales.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [248]:
sales=sales[(sales.Quantity>0)&(sales.UnitPrice>0)]

In [249]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   Description  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  object
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      530104 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 36.4+ MB

In [250]:

sales['InvoiceDate'] =sales.InvoiceDate.astype(str)
sales.InvoiceDate=pd.to_datetime(sales.InvoiceDate)

In [251]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   Description  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  datetime64[ns]
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      530104 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.4+ MB

In [252]:
sales=sales.dropna(axis=0)

In [253]:
sales.CustomerID.value_counts()

17841.0    7847
14911.0    5675
14096.0    5111
12748.0    4595
14606.0    2700
           ...
18184.0       1
13185.0       1
16073.0       1
17948.0       1
17846.0       1
Name: CustomerID, Length: 4338, dtype: int64

In [254]:
sales.StockCode.value_counts()

85123A    2035
22423     1723
85099B    1618
84879     1408
47566     1396
          ...
90168        1
90169        1
90202A       1
90118        1
23843        1
Name: StockCode, Length: 3665, dtype: int64

In [255]:
sales.InvoiceNo.value_counts()

576339    542
579196    533
580727    529
578270    442
573576    435
         ...
556918      1
556885      1
544170      1
556842      1
575830      1
Name: InvoiceNo, Length: 18532, dtype: int64

In [256]:
sales.InvoiceDate.value_counts()

2011-11-14 15:27:00    542
2011-11-28 15:54:00    533
2011-12-05 17:17:00    529
2011-11-23 13:39:00    443
2011-10-31 14:09:00    435
                      ...
2011-08-21 15:50:00      1
2011-09-29 09:37:00      1
2011-08-21 16:02:00      1
2011-06-20 13:06:00      1
2011-04-11 13:55:00      1
Name: InvoiceDate, Length: 17282, dtype: int64

In [257]:
sales.Country.value_counts()

United Kingdom          354321
Germany                   9040
France                    8341
EIRE                      7236
Spain                     2484
Netherlands               2359
Belgium                   2031
Switzerland               1841
Portugal                  1462
Australia                 1182
Norway                    1071
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: Country, dtype: int64

In [258]:
sales.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [259]:
sales.groupby('Description')['Quantity'].sum().sort_values()

Description
SET OF 3 PINK FLYING DUCKS                 1
DOLPHIN WINDMILL                           1
CRACKED GLAZE EARRINGS BROWN               1
LASER CUT MULTI STRAND NECKLACE            1
SET/3 TALL GLASS CANDLE HOLDER PINK        1
                                       ...
WHITE HANGING HEART T-LIGHT HOLDER     36725
JUMBO BAG RED RETROSPOT                46181
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54415
MEDIUM CERAMIC TOP STORAGE JAR         77916
PAPER CRAFT , LITTLE BIRDIE            80995
Name: Quantity, Length: 3877, dtype: int64

In [260]:
sales.loc[sales['Description'] == 'PAPER CRAFT , LITTLE BIRDIE', 'Description'] = 1
sales.loc[sales['Description'] == 'MEDIUM CERAMIC TOP STORAGE JAR', 'Description'] = 2
sales.loc[sales['Description'] == 'WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'Description'] = 3
sales.loc[sales['Description'] == 'JUMBO BAG RED RETROSPOT', 'Description'] = 4
sales.loc[(sales['Description'] != 1)&
          (sales['Description'] != 2)&
          (sales['Description'] != 3)&
          (sales['Description'] != 4), 'Description'] = 0

In [261]:
sales

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,0,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,0,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,0,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,0,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,0,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,0,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,0,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,0,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,0,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,0,3,2011-12-09 12:50:00,4.95,12680.0,France

In [262]:
#원핫인코딩 진행
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
LE.fit(sales.InvoiceNo)
sales.InvoiceNo=LE.transform(sales.InvoiceNo)

In [263]:
LE=LabelEncoder()
LE.fit(sales.StockCode)
sales.StockCode=LE.transform(sales.StockCode)

In [264]:
LE=LabelEncoder()
LE.fit(sales.CustomerID)
sales.CustomerID=LE.transform(sales.CustomerID)

In [265]:
LE=LabelEncoder()
LE.fit(sales.Country)
sales.Country=LE.transform(sales.Country)

In [267]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import StratifiedKFold
import numpy as np

skf_sales = StratifiedKFold(n_splits=3)
cv_accuracy=[]
cv_precision=[]
cv_recall=[]

In [274]:
label=sales.Description
features=sales[['InvoiceNo','StockCode','Description','Quantity','InvoiceDate','UnitPrice','CustomerID','Country']]

In [275]:
label = np.array(label, dtype=np.int)

C:\Temp\ipykernel_20848\1799960218.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  label = np.array(label, dtype=np.int)

In [276]:
label

array([0, 0, 0, ..., 0, 0, 0])

In [272]:
result_skfold = StratifiedKFold(n_splits=3)
result_clf = DecisionTreeClassifier(random_state=100)
n_iter = 0

cv_accuracy=[]
cv_precision=[]
cv_recall=[]


for train_idx, test_idx in result_skfold.split(features, label):
    X_train, X_test = features[train_idx], features[test_idx]
    
    y_train, y_test = label[train_idx], label[test_idx]
    
    #학습을 진행
    result_clf.fit(X_train, y_train)
    #예측
    pred = result_clf.predict(X_test)
    
    #정확도 관련해서 측정
    n_iter +=1 
    accuracy = np.round(accuracy_score(y_test, pred),3)
    precision = np.round(precision_score(y_test,pred, average='macro'),3)
    recall = np.round(recall_score(y_test, pred, average='macro'),3)
    print('\n{} 교차검증 정확도 : {}, 교차검증 precision :{}, 교차검증 recall :{}'.format(n_iter, accuracy, precision, recall))
    cv_accuracy.append(accuracy)
    cv_precision.append(precision)
    cv_recall.append(recall)
    
print('\n')
#print('\n 평균 정확도 ', np.mean(accuracy))
print('\n 평균 검증 정확도', np.mean(cv_accuracy), np.mean(cv_precision), np.mean(cv_recall))

C:\Users\gram\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

KeyError: "None of [Int64Index([132560, 132561, 132562, 132563, 132564, 132565, 132566, 132567,\n            132568, 132569,\n            ...\n            397874, 397875, 397876, 397877, 397878, 397879, 397880, 397881,\n            397882, 397883],\n           dtype='int64', length=265256)] are in the [columns]"